/*TODO zmienic border w zaleznosci od diff*/
html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #0c8584;
}

.content {
  width: 100vw;
  height: 100vh;
}
#choose-difficulty {
  color: red;
}

.cell {
  background-color: #bdbdbd;
  border:1px solid #7b7b7b;
  box-sizing:border-box;
  color: #333333;
  display: flex;
  justify-content: center;
}
.cell:hover {
    background-color: lightgray;
    color: slategray;
    cursor: pointer;
}

.timer {
  float: right;
}
.mines {
  text-align: left;
}
.info {
  position: fixed;
  left: 50%;
}
.game-info {
  grid-column: 2;
  grid-row: 2;
}

.board-row {
  box-sizing:border-box;
  background-color: #bdbdbd;
  border:1px solid #bdbdbd;
  margin:0;
  padding:0;
  display:inline-block;
  white-space-collapsing:discard;
}
.board-row-easy {
  width: 12.5%;
}
.board-row-medium {
  width: 7.1428%;
}
.board-row-hard {
  width: 4.5454%;
}

.menu {
  z-index:9999;
  border:1px red;
  background-image: linear-gradient(to right, #242b5a, #90b6d7);
  padding:2px;
}
.name {
  color:white;
  font-size:1.4rem;
  display:inline-block;
  padding:0;
}
.board {
  max-width: 100%;
}
.is-flag {
  color: white;
}

.hidden {
  padding:0;
  background-color: #bdbdbd;
  border-bottom: 2px solid #7b7b7b;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
}
.close {
  text-align:center;
  display:inline-block;
  background-color: #bdbdbd;
  border-bottom: 2px solid #7b7b7b;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
  height:1rem;
  width:1rem;
  font-size:1rem;
  margin:0;
  margin-bottom:2px;
  float:right;
}

.bruh {
  background: red;
}
.logo{
  display:inline-block;
  color:red;
  margin-right:5px;
  font-size:1.3rem;
  max-height:1.3rem;
  margin-left:2px;
}
.game {
  background: #d3cec5;
  margin: 0;
  position:absolute;
  padding: 2px;
  width: 50vw;
   top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background: #bdbdbd;
  font-size: 0.8rem;
  height: 1rem;
  display: flex;
  justify-content: center;
}
