.content {
  width: 100vw;
  height: 100vh;
}
#choose-difficulty{
  color:red;
}

.cell {
  align-items: center;
  background: #fcfaf9;
  border: 1px solid #48e5c2;
  color: #333333;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.board-row {
  background: black;
  float: left;
}
.board-row-easy {
  width: 12%;
}
.board-row-medium {
  width: 7%;
}
.board-row-hard {
  width: 4%;
}

.board {
  max-width: 100%;
}
.is-flag {
  color: white;
}

.hidden {
  background: #333333;
}

.game {
  background: #48e;
  margin-top: 15vh;
  margin: auto;
  padding: 20px;
  width: 50vw;
}
