.content {
  width: 100vw;
  height: 100vh;
}

.cell {
  background: #fcfaf9;
  border: 1px solid #48e5c2;
  color: #333333;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items:center;
}


.board-row{
  float:left;
  width:4%;
  background: black;
}

.board{
  max-width:100%;
}
.is-flag{
  color:white;
}

.hidden {
  background: #333333;
}

.game {
  background: #48e;
  margin-top: 15vh;
  margin: auto;
  padding: 20px;
  width: 50vw;
}
