body,
html {
  background: #0c8584;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.content {
  height: 100vh;
  width: 100vw;
}
.main {
  margin: auto;
}
.rout {
  margin: auto;
  text-align: center;
  width: 50vw;
}
