.board {
  margin: 2px;
  max-width: 100%;
}

.board-row {
  vertical-align: top;
  background-color: #bdbdbd;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.board-row-easy {
  width: 12.5%;
}

.board-row-medium {
  width: 7.1428%;
}

.board-row-hard {
  width: 4.5454%;
}
