.cell {
  color: #333333;
  display: flex;
  justify-content: center;
  font-weight: bold;
  transition: background 0.5s ease, border-color 0.5s ease;
}

.open{
  padding:3px;
  background: #bdbdbd;
  border: 1px solid #7a7a7a;
}

.is-flag {
  color: white;
}

.hidden {
  padding: 0;
  background: #c0c0c0;
  border-bottom: 4px solid #7a7a7a;
  border-left: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #7a7a7a;
}

.hidden:hover {
  background-color: lightgray;
  cursor: pointer;
}
