.game {
  background: #d3cec5;
  margin: auto;
  width: 50vw;
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 3px;
  padding-bottom: 1px;
}

.buttons {
  width: 50vw;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  width: 40%;
  border-radius: 5px;
  height: 5vh;
  background: #fff;
  box-shadow: 2px 4px 0px #333333;
  transition: all 0.5s ease;
}

.not-clicked {
  box-shadow: 5px 7px 0px #333333;
  height: 6vh;
  background: #ddd;
}

.not-clicked:hover {
  transition: all 0.5s ease;
  height: 5vh;
  background: #fff;
  box-shadow: 2px 4px 0px #333333;
}

.menu {
  border: 1px red;
  background-image: linear-gradient(to right, #242b5a, #90b6d7);
  padding: 2px;
  margin: 2px;
}

.logo {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.3rem;
  max-height: 1.3rem;
  margin-left: 2px;
}

.name {
  color: white;
  font-size: 1.4rem;
  display: inline-block;
  font-weight: 500;
}

.close {
  text-align: center;
  display: inline-block;
  background-color: #e5e8e0;
  border-bottom: 3px solid #7a7a7a;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #7a7a7a;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2px;
  float: right;
}

.overlay {
  background: #c0c0c0;
  border-bottom: 4px solid #7a7a7a;
  border-left: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #7a7a7a;
  margin: 2px;
  margin-top: 5px;
}
.game-info {
  background-color: #bdbdbd;
  font-size: 2rem;
  padding: 1px;
  box-sizing: border-box;
  border-top: 4px solid #7a7a7a;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #7a7a7a;
  font-weight: bold;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info {
  background: #bfbfbf;
  margin: 2px;
  margin-bottom: 5px;
  color: yellow;
  display: flex;
  justify-content: center;
}

.mines {
  margin: 2px;
  background: black;
  color: red;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.timer {
  margin: 2px;
  background: black;
  color: red;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .game {
    width: 60vw;
  }
  .buttons {
    width: 60vw;
  }
}

@media only screen and (max-width: 800px) {
  .game {
    width: 70vw;
  }
  .buttons {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .game {
    width: 95vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .buttons {
    width: 95vw;
  }
}
